[Desktop Entry]
Version=1.0
Type=Application
Name=GitKraken
X-AppImage-Version={version}
Comment={description}
Exec={entrypoint}
Icon={icon}
Categories=Development;
StartupNotify=true
Keywords=gitkraken;GitKraken;git;Git;

[AppImage Creator]
Entrypoint=./gitkraken/gitkraken
Icon=./gitkraken/gitkraken.png
Version-Cmd=cat gitkraken/version
